*
**/*
!src/
!simu/
!test/
!tools/
!.gitignore
!**/*.md
!README.md
!*/*.qar
!*.qar
!src/*.bd
!src/*.vhd
!src/design_1/
!src/design_1/design_1.bd
!src/extra/
!src/extra/*.vhd
!*.vhd
!*.xlsx
!*/*.cpp
!*/*.c
!Makefile
!*.xdc
!*.docx