*
**/*
!src/
!simu/
!test/
!tools/
!tools/make_mem.exe
!.gitignore
!**/*.md
!README.md
!*/*.qar
!*.qar
!src/*.bd
!src/*.vhd
!src/design_1/
!src/design_1/design_1.bd
!src/extra/
!src/extra/*.vhd
!*.vhd
!*.xlsx
!**/*.cpp
!**/*.c
!**/**/**/*.c
!**/**/**/*.cpp
!test/C_Programs/
!test/C_Programs/*/*.vhd
!Makefile
!*.xdc
!*.docx